@import 'normalize.min.css';
@import 'foundation.min.css';
@import 'awesomplete.css';

html, body {
  background-color: transparent;
  background-color: rgba(0, 0, 0, );
  border-radius: 10px; }

body {
  background: #f1f1f1;
  border: 1px solid #e0e0e0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h3 {
  margin: 0; }
input[type="text"], input[type="number"], select, .button, .earl {
  margin-bottom: 0;}
button {
  padding: 0;
  margin: 0;
  height: 20px;
  width: 100px;
  border-radius: 5px; }
fieldset {
  margin: .5rem 0;
}
input[type="radio"] {
    margin: 0 0.88889rem 0.88889rem 0;
}
.content {
  padding-top: 2.5rem; }

.x-closer {
  position: relative;
  float: right;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}

.log {
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  background-color: white;
  overflow-y: scroll;
  color: #222222;
  font-weight: bold;
  margin-bottom: 1rem; }
  .log p {
    padding: 0 0.5rem;
    margin-bottom: 0;
    font-family: monospace, monospace;
    font-size: 0.8em; }

.error {
  color: red; }

select, option {
  background-color: white; }

.icon {
  display: inline-block;
  color: #444444;
  fill: currentColor; }

.icon-squared-cross {
  color: #fff;
  width: 24px;
  height: 24px;
  margin-top: 7px; }
  .icon-squared-cross:hover {
    color: #0e425a;
    fill: currentColor; }
.seo-list .icon-squared-cross {
  color: #d92031; }
.seo-list .icon-squared-cross:hover {
  color: #0e425a; }
.icon-checkbox-checked {
  width: 16px;
  height: 16px; }

.nav-bar {
    background-color: #d92031;
    border-radius: 10px 10px 0 0;
    font-size: 24px;
    left: 0;
    padding: 0 3px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    color: #fff;
}
.nav-bar h3 {
  color: #fff;
}
.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-bar .sub-menu > li {
  display: inline-block;
}
.nav-bar .sub-menu .drop-down {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}
.nav-bar .sub-menu .drop-down li {
  background: #fff;
}
.nav-bar .sub-menu .drop-down li a {
  display: block;
  color: #222;
  padding: .5rem 1rem;
}
.nav-bar .sub-menu .drop-down li a:hover {
  color: #999;
}
.nav-bar .sub-menu li:hover .drop-down {
  display: block;
  z-index: 10;
}

.seo-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background: #fff;
  padding: 1rem;
  padding-right: 40px;
}
.seo-list .seo-closer {
  position: absolute;
  top: 6px;
  right: 10px;
}
.seo-list > div {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
}
.seo-list ul {
  color: #222;
  width: 100%;
  list-style: none;
}

ul.radio-group {
  list-style: none;
  margin: 0;
}
ul.radio-group.page-size {
}
.radio-group.page-size li{
  display: inline-block;
  width: 23%;
  text-align: center;
}
.current-facets {
  list-style: none;
  margin-left: .5rem;
}
.current-facets li {
  word-break: break-all;
}
.current-facets a {
  display: inline-block;
  transform: translate(-5px, -2px);
}
.current-facets .icon-squared-cross, .refresher img {
  width: 14px;
  height: 14px;
  margin: 0;
}
.hidden {
  display: none;
}
.not-visible {
  position: absolute;
  left: -110%;
}
.vtext {
  position: absolute;
  bottom: 0.25rem;
  right: 0.9375rem;
  text-align: right;
  color: #444444;
  margin-bottom: 0;
  font-family: monospace, monospace;
  font-size: 0.8em; }

.toggler {
  position: absolute;
  bottom: 0.25rem;
  left: 0.9375rem;
}
.toggler fieldset {
  display: inline-block;
}
.toggler input, .toggler fieldset {
  margin: 0;
}
.toggler .switch input:checked+label {
  background: red;
}
.toggler .production {
  color: red;
  display: none;
  margin-left: .5rem;
  transform: translateY(-6px);
}
.toggler .stage {
  display: inline-block;
  margin-left: .5rem;
  transform: translateY(-6px);
}

.prod .toggler .production {
  display: inline-block;
}

.prod .toggler .stage {
  display: none;
}

.wwwearl {
  position: absolute;
  left: -9999px;
}

#seourl {
  position: relative;
}

#seourl .copy-buttons {
  display: none;
  position: absolute;
  top: 9px;
  right: 0;
}

#seourl:hover .copy-buttons {
  display: inline-block;
}

#seourl .copy-buttons button {
  margin-left: .2rem;
}

.button, button {
  background-color: #dddddd;
  border-color: #a8a8a8;
  color: #222;
}
.button:focus, .button:hover, button:focus, button:hover {
  background-color: #a8a8a8;
  color: #000;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
